.conteudo{
    background-color: white;
    width: 80vw;
    height: 65vh;
    display: block;
    align-items: center;
    border-radius: 12px;
}
.form {
    gap: 39px;
    width: 100%;
    
    & > *:first-child {
        flex:  0;
      }
    
      & > *:last-child {
        flex: 1;
      }
}
.div_botao {
  display: flex;
  justify-content: center;
}
.titulo {
   
  display: block;
}