

.conteudo{
    background-color: white;
    width: 50vw;
    height: 50vh;
    display: flex;
    padding: 24px;
    
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 12px;
}


.form {
    gap: 16px;
    width: 100%;
    display: block;
    
    
}

.span {
    display: flex;
    text-decoration: none;
    color:blue;
    font-size: 26px;
}
.div_botao {
    display: flex;
    justify-content: center;
}