.botao {
    background-color: #C00F0C;
    color: #fff;
    text-align: center;
    margin:20px;
    width:10vw;
    font-size: 24px;
    border-radius: 64px;
}
@media (min-width: 768px) and (max-width: 1023px)  {
   .botao{
    width: 150px;
   } 
}